<div class="main posts-show">
    <div class="container">
        <div class="posts-show-item">
            <h1><%= @array.judul%></h1>
            <h1><%= @array.deskripsi%></h1>
            <div class="post-time">
                <%= @array.created_at%>
            </div>
            <a href="/postingan">Kembali</a>
        </div>
    </div>
</div>