<div class="main post-new">
    <div class="container">
        <h1>Edit Data</h1>
        <%= form_tag("/postingan/update/#{@array.id}") do %>
            <div class="form">
                <div class="form-body">
                    <label>Judul</label>
                    <input name="judul" value="<%= @array.judul %>" required>

                    <label>Deskripsi</label>
                    <textarea name="deskripsi" required><%= @array.deskripsi %></textarea>

                    <button type="submit">Simpan</button>
                    <a href="/postingan">Kembali</a>
                </div>
            </div>
        <% end %>
    </div>
</div>